@model SidebarViewModel
@{
  List<Menusegment> segments = Model.AdminMenus.Select(m => m.Menusegment).Distinct().ToList();
}
<style>
  #sidebar .list-group-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sidebar .list-group-item :first-child {
    flex: 0;
    height: fit-content;
  }

  #sidebar .submenu-title {
    flex: auto;
  }
</style>
<aside class="bd-sidebar">
  <div class="offcanvas-lg offcanvas-start text-bg-dark pb-5" id="sidebar">

    <!-- SIDEBAR HEADER -->
    <div class="sidebar-header p-3 position-sticky top-0 bg-dark z-3 d-block d-lg-none">
      <div class="text-end">
        <button type="button" class="btn btn-dark" data-bs-dismiss="offcanvas" data-bs-target="#sidebar">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
    <!-- END OF SIDEBAR HEADER -->

    <!-- LOGO -->
    <div class="p-3 text-center">
      <a href="./index.html">
        <img src="~/img/LOGO_TRANSPARAN.png" alt="LOGO TRANSPARAN" class="img-fluid rectangular-logo">
        <img src="~/img/LOGO BULAT TRANSPARAN.png" alt="LOGO BULAT TRANSPARAN" width="50" class="dark-mode-logo">
      </a>
      <!-- <img src="~/img/logo greentech.png" loading="lazy" alt="" class="img-fluid"> -->
    </div>

    @* <hr class="m-0"> *@

    <!-- SIDEBAR BODY -->
    <div class="sidebar-body mb-3">

      <div class="accordion accordion-flush">

        @foreach (Menusegment segment in segments)
        {
          <!-- SEGMENT -->
          <div class="accordion-item text-bg-dark border-0">

            <!-- SEGMENT HEADER -->
            <div class="accordion-header px-3">
              <button class="accordion-button text-bg-dark shadow-none p-0 py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#submenu-@(segment.Id)">
                @(segment.Name.ToUpper())
              </button>
            </div>

            <!-- SEGMENT SUBMENU -->
            <div id="submenu-@(segment.Id)" class="accordion-collapse collapse show">
              <div class="accordion-body p-0 px-3">
                <div class="list-group list-group-flush">
                  @foreach (Menu menu in Model.AdminMenus.Where(m => m.MenusegmentId == segment.Id))
                  {
                    <a href="@(menu.Url)"
                      class="list-group-item list-group-item-action border-0 mb-1 text-bg-dark @(Context.Request.Path == menu.Url ? "active" : "")"
                      data-bs-placement="right" data-bs-title="@menu.Name">
                      <i class="bi bi-@menu.Icon me-3"></i>
                      <span class="submenu-title">@menu.Name</span>
                    </a>
                  }
                </div>
              </div>
            </div>
            <!-- END OF SEGMENT SUBMENU -->

          </div>
          <!-- END OF SEGMENT -->
        }

        <!-- GENERAL SEGMENT -->
        <div class="accordion-item text-bg-dark border-0">
          <!-- GENERAL SEGMENT HEADER -->
          <div class="accordion-header px-3">
            <button class="accordion-button text-bg-dark shadow-none p-0 py-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#submenu-general">
              UMUM
            </button>
          </div>

          <!-- GENERAL SUBMENU -->
          <div id="submenu-general" class="accordion-collapse collapse show">
            <div class="accordion-body p-0 px-3">
              <div class="list-group list-group-flush">

                <a href="./profile.html" class="list-group-item list-group-item-action border-0 mb-1 text-bg-dark"
                  data-bs-placement="right" data-bs-title="Profile">
                  <img src="~/img/LOGO_LIGHT MODE.png" alt="" width="16" class="me-3 rounded-circle">
                  <span class="submenu-title">Mohammad Nasyikh Al-Qusyairy</span>
                </a>

                <a href="#" class="list-group-item list-group-item-action border-0 mb-1 text-bg-dark"
                  data-bs-toggle="modal" data-bs-target="#logoutModal" data-bs-placement="right"
                  data-bs-title="Log Out">
                  <i class="bi bi-box-arrow-left me-3"></i>
                  <span class="submenu-title">Log Out</span>
                </a>

              </div>
            </div>
          </div>
          <!-- END OF GENERAL SUBMENU -->

        </div>
        <!-- END OF GENERAL SEGMENT -->

      </div>
    </div>
    <!-- END OF SIDEBAR BODY -->

    <!-- <div class="bg-danger" style="height: 100vh;"></div> -->

  </div>

</aside>