@{
    ViewBag.PageTitle = "User";
}
@model UserViewModel
<div class="container">
    <div class="row">
        <div class="card mt-2 p-3 rounded-3">
            <div class="card-body">
                <a href="@Url.Action("Create", "User")" class="input-group mb-3 d-flex">
                    <button class="btn btn-primary">
                        <i class="bi-person-add me-2"></i>Peserta Baru
                    </button>
                </a>
                <div class="table-responsive">
                    <table id="tbl" class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama Lengkap</th>
                                <th>Kode</th>
                                <th>Jenis Kelamin</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@user.Id</td>
                                    <td>@user.Name</td>
                                    <td>@user.Code</td>
                                    <td>@(user.Gender == false ? "Laki Laki" : "Perempuan")</td>
                                    <td>
                                        <a href="@Url.Action("Edit", "User", new { id = user.Id })" class="btn btn-warning">
                                            <i class="bi bi-pencil-square" style="color: white;"></i>
                                        </a>
                                        <a href="@Url.Action("Delete", "User", new { id = user.Id })" class="btn btn-danger">
                                            <i class="bi bi-trash" style="color: white;"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

