@model MonitoringViewModel
@{
    ViewBag.PageTitle = "Monitoring";
}

<div class="d-grid gap-2 d-lg-flex justify-content-lg-end">
    <form asp-action="ChangeElection">
        <div class="input-group">
            <select class="form-select" asp-for="ElectionId" asp-items="Model.Elections"></select>
            <button class="btn btn-primary">Ganti</button>
        </div>
    </form>
</div>
<hr>


<div class="row">
    <div class="col-12 col-lg-3">
        <div class="card mb-3 text-bg-primary">
            <div class="card-header">Jumlah Peserta</div>
            <div class="card-body">
                <h1 class="card-text">
                    @(Model.Election?.ElectionUsers?.Count ?? 0)
                </h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card mb-3 text-bg-secondary">
            <div class="card-header">Suara Masuk</div>
            <div class="card-body">
                <h1 class="card-text">
                    @(Model.Election?.Candidates?.Sum(c => c.CandidateUsers.Count()) ?? 0)
                </h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card mb-3 text-bg-dark">
            <div class="card-header">Jumlah Kandidat</div>
            <div class="card-body">
                <h1 class="card-text">
                    @(Model.Election?.Candidates?.Count ?? 0)
                </h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card mb-3">
            <div class="card-header">Golongan Putih</div>
            <div class="card-body">
                <h1 class="card-text">100</h1>
            </div>
        </div>
    </div>
</div>


<div class="row align-items-center">
    <div class="col-12 col-xxl-4">
        <div class="card mb-3">
            <div class="card-header">
                Peraih Suara Terbanyak
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center gap-2">
                            <div>
                                @* placeholder img *@
                                <img src="https://via.placeholder.com/50" class="rounded-circle" alt="..."
                                    style="width: 50px;height: 50px">
                            </div>
                            <div>
                                A list item
                                <p>
                                    <span class="badge bg-secondary">XI</span>
                                    <span class="badge bg-secondary">MIA</span>
                                    <span class="badge bg-secondary">Putra</span>
                                </p>
                            </div>
                        </div>
                        <span class="badge text-bg-primary rounded-pill">14</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Daftar Kandidat
            </div>
            <div class="card-body">
                <ul class="list-group" style="max-height: calc(80px * 3);overflow-y:auto;">
                    @foreach (var candidate in Model.Election?.Candidates)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center gap-2">
                                <div>
                                    @* placeholder img *@
                                    <img src="@(candidate.Img)" class="rounded-circle" alt="..."
                                        style="width: 50px;height: 50px">
                                </div>
                                <div>
                                    @(candidate.User.Name)
                                    <p>
                                        <span class="badge bg-secondary">XI</span>
                                        <span class="badge bg-secondary">MIA</span>
                                        <span class="badge bg-secondary">Putra</span>
                                    </p>
                                </div>
                            </div>
                            <span class="badge text-white rounded-pill" style="background-color: #@(candidate.Color);">
                                @(candidate.CandidateUsers.Count)
                            </span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-xxl">
        <div class="card mb-3">
            <div class="card-header">
                Grafik Voting
            </div>
            <div class="card-body">
                <canvas id="chart"></canvas>
            </div>
        </div>

        @* <div class="card mb-3">
            <div class="card-body">

            </div>
        </div> *@
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Daftar Golongan Putih
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <button class="btn btn-primary">Cetak</button>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Cari golongan putih...">
                </div>
                <p>
                    Menampilkan 1-10 dari 100 data
                </p>
                <table class="table table-striped mb-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Kelas</th>
                            <th scope="col">Jenis Kelamin</th>
                            <th scope="col">Suara</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>kj</td>
                            <td>kj</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>ih</td>
                            <td>ih</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>kb</td>
                            <td>kb</td>
                            <td>kb</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>kb</td>
                            <td>kb</td>
                            <td>kb</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>kb</td>
                            <td>kb</td>
                            <td>kb</td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center m-0">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.6/dist/chart.umd.min.js"></script>

<script>
    var ctx = document.getElementById('chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Mohammad Nasyikh Al-Qusyairy', 'Dzulfikar Al-Ghozali', 'Muhammad Fairuzul Wafy Faradis'],
            datasets: [{
                label: '# of Votes',
                data: [5, 2, 3, 5, 7, 1],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ]
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>