@using Microsoft.AspNetCore.Http.Extensions
@model CandidateViewModel
@{
    ViewBag.PageTitle = "Kandidat";
    string currentUrl = Context.Request.GetDisplayUrl();
    var startNumber = (Model.CurrentPage - 1) * Model.LimitEntry + 1;
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Berhasil!</strong> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <a asp-action="Create" class="btn btn-primary mb-3"><i class="bi bi-plus"></i> Kandidat Baru</a>
                <form>
                    @(ViewHelper.GenerateSearchAndLimitForm(Model.LimitEntry, Model.Search ?? "", "Cari Kandidat..."))
                    <p>
                        Menampilkan @Model.Entries.Count dari @(Model.TotalFilteredEntries) data (difilter dari total
                        @(Model.TotalEntries) data)

                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Foto</th>
                                    <th>
                                        <a href="@(UrlHelper.SetOrderBy(currentUrl,"Name"))" class="text-dark">
                                            Nama
                                        </a>
                                    </th>
                                    <th>Pemilihan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var candidate in Model.Entries)
                                {
                                    <tr>
                                        <td>@(startNumber++)</td>
                                        <td>
                                            <img src="@(candidate.Img == "nophoto.jpg" ? Url.Content("/img/placeholder.jpg") : candidate.Img)"
                                                alt="Candidate Photo" width="50" height="50"
                                                class="img-thumbnail rounded-circle"
                                                style="border-color: #@candidate.Color;border-width: 2px;" />

                                        </td>
                                        <td>
                                            @(candidate.User.Name)
                                        </td>
                                        <td>
                                            @candidate.Election.Name
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@candidate.Id" class="btn btn-warning"
                                                data-bs-title="Ubah" data-bs-placement="bottom">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            @(ViewHelper.GenerateDeleteButton(Url.Action("Delete", new
                                            {
                                                id = candidate.Id
                                            })))
                                        </td>
                                    </tr>
                                }

                                @if (Model.Entries.Count == 0)
                                {
                                    @(ViewHelper.GenerateNoDataRow(5))
                                }
                            </tbody>
                        </table>
                    </div>
                    @(ViewHelper.GeneratePagination(currentUrl, Model.CurrentPage, Model.PageCount))
                </form>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Components/_ConfirmDeleteModal.cshtml" />